.App-header {
  align-items: center;
  text-align: center;
  background-image: url("./images/database.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

table {
  align-items: center;
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  min-width: 400px;
}

thead tr {
  background-color: rgb(164, 214, 27);
  color: rgb(255, 255, 255);
  text-align: middle;
  font-weight: bold;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid white;
  color: rgb(255, 255, 255);
}

tbody tr:nth-of-type(even) {
  background-color: #696b70;
}

.logo {
  width: 100px;
  display: block;
  margin-right: auto;
  height: auto;
}
